.change_password{
    width: 100vw;
    min-height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container{
    width: 500px;
    min-height:400px ;
}
.link{
    display: block;
    font-size: 18px;
    color: var(--primary_color);
    margin: 1rem 0;
}