html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f1f1f1 !important;
}
:root{
  --primary_color:#2861A5
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SearchBar CSS */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

.App{
  width: 100vw;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* min-height:60vh ;
  display: flex;
  align-items: center;
  justify-content: center;
   */
    /* position:fixed;
  top: 300px;
  left: 1000px; 
   transform: translate(-50%,-50%); */

}
.search-bar-container{
  margin-left:auto ;
  margin-right: 20px;
  margin-top: 20px;
 
  width:70rem ;
  height: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  background-color: #fff;
  /* overflow:auto; */
}
.search-input-container{
  width:100%;
  padding: 2px 15px;
  min-height: 5.2rem;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  /* overflow:auto; */
}

.search-input{
  /* width:100%; */
  flex: 1;

  /* height: 100%; */
  outline: none;
  border: none;
  font-size: 20px;
  color: rgba(27, 32, 109, 0.859);
  border-radius: 6px;
  background: transparent;
  /* background: red; */
}
.search-input::placeholder{
  /* font-size: 16px; */
  color: #bebebe;
  transition: all 250ms ease-in-out;
}

.search-input:focus{
  outline: none;
}
.search-input:focus::placeholder{
  opacity: 0;
}
.search-icon,.close-icon{
  font-size: 2.6rem;
  color: #bebebe;
  margin-right: 1rem;
  margin-top: 7px;
}
.close-icon{
  font-size: 2rem;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.close-icon:hover{
  color: #dfdfdf;
}
.line-seperator{
  width:100%;
  height: 2px;
  background:#d8d8d877;
}
.search-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  font-size: 16px;
  overflow:auto;
  
}
.loading-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning{
  display: flex;
  justify-content: center;
  color: #9e8d8d;
  font-size: 1.6rem;
}

/* TvShow CSS */
.tv-show-container{
  width:100%;
  min-height:5.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d877;
  padding: 1rem 1rem;
  /* overflow-y: auto; */
  
}

.image img{
  width: 90px;
  height:40px;
}
.title{
  font-size: 20px;
  color: #000;
margin-left: 1rem;
flex:1;
}
.rating{
  color: #9e8d8d;
  font-size: 1.6rem;
}